body {
    background-color: rgb(177, 45, 122);
    margin: 0;
    padding: 0;

}

#board{
    position: relative;
    background-color: rgb(177, 45, 122);
    width: 100vw;
    height: 100vh;

}

#player{
    background-color: rgb(250, 240, 221);
    position: absolute;

}