body {
    background-color: rgb(177, 45, 122);
    margin: 0;
    padding: 0;

}

#board{
    position: relative;
    background-color: rgb(177, 45, 122);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

#player{
    background-color: rgb(250, 240, 221);
    position: absolute;
    border-radius: 50%;
}

.obstacle{
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
}

.pause{
    display: none;
    position: absolute;
}